<!DOCTYPE html>
<html>
<head>
  <title>Unauthorized Access</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Unauthorized Access</h5>
          <p class="card-text">Sorry, you are not authorized to access this page.</p>
          <a href="#" class="btn btn-primary">Back to login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
