<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
      <label>Invoice Number</label>
      <input type="text">
    </div>
    <div>
      <label>Purchase Order Number</label>
      <input type="text">
    </div>
    <div>
      <label>Date Created</label>
      <input type="text">
    </div>
    <div>
      <label>Client contact Person</label>
      <input type="text">
    </div>
    <div>
      <label>Client Name</label>
      <input type="text">
    </div>
    <div>
      <label>Supplier Name</label>
      <input type="text">
    </div>
    <div>
      <label>Date Created</label>
      <input type="text">
    </div>
    <div>
      <label>Contact Person</label>
      <input type="text">
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>QTY</th>
        <th>UNIT</th>
        <th>ARTICLES</th>
        <th>UNIT PRICE</th>
        <th>AMOUNT</th>

      </tr>
      </thead>
      <tbody>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>pc</td>
          <td>TEST PRODUCT</td>
          <td>120.00</td>
          <td>50.00</td>
        </tr>
      </tbody>
    </table>

</body>
</html>